/* @import "tailwindcss"; */

body {
  min-height: 100svh;
}

[data-slide-container] {
  height: var(--dynamic-height, var(--root-height, unset));
}

.bg {
  background-image: url("../public/tools-bg.jpg");
  background-size: 200px;
  opacity: 0.05;
  z-index: -1;
  pointer-events: none;
}

#dotlottie-canvas {
  --trans-position: 3.5px;
  background-image: url("../public/gear.png");
  background-position: calc(50% + calc(var(--trans-position) * -1))
    calc(50% + 0px);
  background-repeat: no-repeat;
  transform: translateX(var(--trans-position));
  background-size: 60%;
}
